* {
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 1vh;
  font-size: 2vw;
  width: 60%;
  outline: 2px solid lightblue;
}

#header img {
  height: 4vw;
}

hr {
  width: 60%;
}

#body-container {
  display: flex;
  margin: 0.25vh;
  height: 45vh;
  width: 60%;
  gap: 1vh;
}

#left-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 2vh;
  width: 20%;
  height: 55vh;
}

#room-selection {
  list-style-type: none;
  font-size: 1vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rooms li:hover {
  cursor: pointer;
  color: lightblue;
}

#rooms {
  height: 100%;
  outline: 2px solid lightblue;
}

#rooms li{
  width:5vw;
}

#rooms .selected{
  outline:1px solid lightblue;
}

#rooms h3 {
  font-size: 1.25vw;
}

#market-space img {
  max-width: 100%;
}

#right-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 55vh;
  outline: 2px solid lightblue;
}

#current-room {
  outline: 2px solid lightblue;
  margin:0 2vw;
}

#current-room h3 {
  display: flex;
  align-items: center;
  padding-left: 2vw;
  padding:0.5rem;
  font-size: 2vw;
  height: 5vh;
}

#chat-box-and-buttons {
  height: 40vh;
  margin: 2vh 0;
}

#chat-box {
  outline: 2px solid lightblue;
  display: flex;
  flex-direction: column-reverse;
  gap: 2vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 1vh 2vw;
  height: 35vh;
  word-wrap: break-word;
}

#chat-box p {
  font-size: 1vw;
}

#chat-box h3 {
  font-size: 0.5vw;
  font-style: italic;
  margin-top: 1vh;
}

#chat-box h2 {
  font-size: 1.25vw;
}

#chat-box h2 span {
  color: lightblue;
}

#input-forms {
  width: 100%;
}

#input-forms form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3vh;
}

#input-forms form label #username-input {
  width: 6vw;
  padding:0.2rem;
  margin-top:0.5vh;
}

#input-forms form label #message-input {
  width: 31vw;
  height: 3vh;
  resize: none;
  padding:0.2rem;
  padding-left:0.5vw;
  padding-top:0.1vh;
  margin-top: 1vh;

}

#input-forms form button {
  width: 3vw;
  height: 2.5vh;
  margin-top:0.5vh;
}
