/* Style for the general layout of the pages */

@import url('https://fonts.googleapis.com/css2?family=Roboto');

html {
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  width:80vw;
  margin: 0 auto;
}
