@import url("https://fonts.googleapis.com/css2?family=Roboto");

/* Style and layout for the header */
html {
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1vw;
  font-size: 1.5rem;
  min-width: 100%;
}

/* Style and layout for the main container */
#body-container {
  display: flex;
  margin: 0.25vh;
  height: 35vh;
}

/* Style and layout for the left part of the container */
#left-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap:2vh;
  width: 20%;
  min-height: 60vh;
  margin-top: 2vh;
}


#rooms {
  outline: 2px solid lightblue;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}

#rooms h3{
  font-size:1.2rem;
  margin-top:2vh;
  margin-bottom: 2vh;
}

#room-container {
  padding: 0.2vh;
}

#room-container li {
  padding: 0.5vh;
  font-size:1rem;
  margin: 0 auto;
}

#room-container li:hover {
  cursor: pointer;
  color: lightblue;
}

#room-container #room-selection {
  list-style-type: none;
  margin: auto;
  padding: 0;
  padding-left: 2vw;
  text-align: left;
}

/*Ad Space*/
#market-space {
  outline: 2px solid lightblue;
}

#market-space img {
  max-width: 100%;
}


/* Style and layout for the right part of the container */
#right-screen {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 50vh;
}

#current-room {
  outline: 2px solid lightblue;
  max-width: 30vw;
  margin: 0 auto;
}

#current-room h3 {
  padding: 0;
  margin: 0 3vw;
  font-size: 3vw;
}

hr {
  width: 60%;
}

#chat-box {
  outline: 2px solid lightblue;
  height: 45vh;
  display: flex;
  flex-direction: column-reverse;
  gap: 2vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1vh 2vw;
}

#chat-box-and-buttons {
  max-height: 50vh;
  margin: 2vh 2vw;
}

#chat-box h3,
#chat-box h2,
#chat-box p {
  margin: 0.5rem 1rem;
}

#chat-box p {
  font-size: 1rem;
}

#chat-box h3 {
  font-size: 0.8rem;
  font-style: italic;
}

#chat-box h2 {
  font-size: 1.2rem;
}

#chat-box h2 span {
  color: lightblue;
}

#input-forms form {
  display: flex;
  gap: 2vw;
  padding: 1rem;
}

#username-input {
  width: 10vw;
  margin-left: 0.5rem;
}

#message-input {
  width: 25vw;
  margin-left: 0.5rem;
}
